
.collapseElement{
    width: 80%;
    margin: 2rem auto 0;
    
}

.collapseTitle{
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: #FF6060;
    border-radius: 5px;
    color: white;
    padding: 10px 1rem 5px;
    .arrow{
        font-weight: bold;
        font-size: 30px;
        transform: rotate(0deg);
        transition: all 0.4s;
        &.open{
            transform: rotate(-180deg);
        }
    }
}

.collapseContent{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    background-color: #F6F6F6;
    max-height: auto;
    border-radius: 5px;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
    &.open{
        padding: 10px;
        height: auto;
    }
}
