footer{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    align-items: center;
    height: 20%;
    img{

        height: 35%;
        width: auto;
        background-color: black;
    }
    p{
        width: auto;
        height: auto;
    }
}