


.collapseTitle{
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: #FF6060;
    border-radius: 5px;
    color: white;
    padding: 10px 1rem 5px;
    .arrow{
        font-weight: bold;
        color: white;
        font-size: 30px;
        transform: rotate(0deg);
        transition: all 0.5s;
        &.open{
            transform: rotate(-180deg);
        }
    }
}

.collapseContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0;
    background-color: #F6F6F6;
    border-radius: 5px;
    max-height: 0;
    padding: 0 10px;
    overflow: hidden;
    transition: max-height 0.5s linear;
    transition: padding 0.5s linear;
    &.open{
        padding: 10px;
        max-height: 20em;
    }
}
